<section class="contact" id="contact">
    <h2 class="contact-title">Contact Me</h2>

    <div class="contact-container">

        <!-- LEFT -->
        <div class="contact-message">
            <p>
                Let’s build something<br /> great together.
            </p>
        </div>

        <!-- DIVIDER -->
        <div class="contact-divider"></div>

        <!-- RIGHT -->
        <div class="contact-details">

            <div class="contact-item">
                <h4>Email</h4>
                <p>tevindavis&#64;icloud.com</p>
                <a href="mailto:tevindavis@icloud.com" class="contact-btn">
          Send Message
        </a>
            </div>

            <div class="contact-item">
                <h4>LinkedIn</h4>
                <p>&#64;tevindavis</p>
                <a href="https://www.linkedin.com/in/tevindavis/" target="_blank" class="contact-btn">
          Connect
        </a>
            </div>

        </div>
    </div>
</section>
