<section>
    <br>
    <br>
    <h5>Who I am</h5>
    <h2>About Me</h2>
    <div id="about">
        <div class="img-container">
            <img class="img-fluid" src="./assets/Images/logo-about.png" data-aos="fadeIn">
            <div class="about-me">
                <p class="about-data" data-aos="fadeInSlideFromBottomAnimation">
                    I'm a passionate front-end web developer specializing in crafting captivating user interfaces
                    with HTML, CSS, and JavaScript. With a focus on seamless user experiences and innovative design,
                    I thrive on pushing the boundaries of front-end development to create visually stunning and
                    intuitive web applications. My attention to detail, commitment to staying updated on the latest
                    trends, and dedication to effective communication allow me to deliver high-quality work that
                    exceeds expectations. I'm driven by a passion for creating engaging digital experiences and am
                    eager to bring my skills and enthusiasm to a dynamic team.
                </p>
                <div class="container">
                    <div class="content" data-aos="bounceSlideInFromLeft">
                        <i id="icon" class="bi bi-award"></i>
                        <h3>Experience</h3>
                        <small>1+ Years Working</small>
                    </div>
                    <div class="content" data-aos="bounceSlideInFromLeft">
                        <i id="icon" class="bi bi-folder-plus"></i>
                        <h3>Projects</h3>
                        <small>5+ Completed</small>
                    </div>
                    <div class="content" data-aos="bounceSlideInFromLeft">
                        <i id="icon" class="bi bi-people-fill"></i>
                        <h3>Clients</h3>
                        <small>2+ Worldwide</small>
                    </div>
                </div>
                <br>
                <div class="cta" data-aos="fadeInAnimation">
                    <a target="_blank" href="./assets/Documents/Tevin_Resume_Developer.pdf" class="btn"
                        data-aos="blink">Download Resume
                        <i class="bi bi-download"></i>
                    </a>
                    <a href="#contact" class="btn">Let's Talk</a>
                </div>
                <br>
            </div>
        </div>
    </div>
</section>