<section id="projects">
  <br>
  <h2>Testimonials</h2>
  <ngb-carousel>
    <!--Sample slide info until i incorporate my personal projects-->
    <ng-template class="project-slides" ngbSlide *ngFor="let testimonial of testimonials">
      <div class="template">
        <br>
        <div class="img-box"><img class="rounded-circle" [src]="testimonial.imageUrl" [alt]="testimonial.title"></div>
        <br>
        <p class="testimonial">{{ testimonial.text}}</p>
        <p class="overview">{{ testimonial.author}} - <span>{{ testimonial.jobTitle}}</span></p>
        <br>
      </div>
    </ng-template>
  </ngb-carousel>
</section>