<section class="testimonial">
    <h2 class="testimonial-title">Testimonial</h2>
    <div class="testimonial-container">

        <blockquote>
            <p>
                “Tevin’s creativity shone through in crafting a remarkable movie rating application, demonstrating strong problem-solving skills and thoughtful UI design.”
            </p>
        </blockquote>

        <div class="testimonial-author">
            <span class="name">Shrikant Kulkarni</span>
            <span class="title">ServiceNow Trainer</span>
        </div>

    </div>
</section>
