.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}

ngb-carousel .template .overview {	
	font-style: italic;
    color: var(--color-primary);
}

.rounded-circle {
	width: 200px;
	height: 200px;
}
