app-root {
    display: block;
    width: 100%;
}

main {
    margin-top: 0 !important;
}

main>section:first-child {
    padding-top: 0 !important;
}

:host {
    display: block;
    width: 100%;
}

.loading-bar {
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.loading-progress {
    width: 0%;
    height: 100%;
    background-color: var(--color-primary);
    animation: progressAnimation 2s infinite;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
