<section id="experience" class="timeline-section">
    <header>
        <h5>My Qualifications</h5>
        <h2 class="heading">My journey</h2>
    </header>
    <div class="container py-5">
        <!-- Timeline -->
        <div class="timeline">
            <!-- Work Experience Column -->
            <div class="timeline-column left">
                <h3 class="subheading">Work Experience</h3>
                <!-- Work Experience Items -->
                <div class="timeline-item" *ngFor="let experience of workExperience" data-aos="slideInFromLeft">
                    <div class="card">
                        <div class="card-body">
                            <!-- Work Experience Content -->
                            <h4 class="responsive-text"> {{ experience.company }}</h4>
                            <h5 class="responsive-text-important"> {{ experience.role }}</h5>
                            <small class="responsive-text text-secondary"><i class="bi bi-calendar3"></i>{{ experience.date }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Education Column -->
            <div class="timeline-column right">
                <h3 class="subheading">Education</h3>
                <!-- Education Items -->
                <div class="timeline-item" *ngFor="let edu of education" data-aos="slideInFromRight">
                    <div class="card">
                        <div class="card-body">
                            <!-- Education Content -->
                            <h4 class="responsive-text">{{ edu.schoolName }}</h4>
                            <h5 class="responsive-text-important">{{ edu.degree }}</h5>
                            <small class="responsive-text text-secondary"><i class="bi bi-calendar3"></i> {{ edu.date }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>