<section id="skills">
    <h5>My Technical Skills</h5>
    <h2>Skills</h2>
    <div class="container-fluid">
        <div class="container" data-aos="flip-up" data-aos-duration="400">
            <h4 class="container-heading">Frontend</h4>
            <div class="items"> 
                <div class="item">
                    <img src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" class="sc-pqitP csZOOw">HTML
                </div>
                <div class="item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1452px-CSS3_logo_and_wordmark.svg.png"
                        class="sc-pqitP csZOOw">CSS
                </div>
                <div class="item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png"
                        class="sc-pqitP csZOOw">JavaScript
                </div>
                <div class="item">
                    <img src="./assets/Icons/angular.svg" alt="Angular">Angular.Js
                </div>
                <div class="item">
                    <img src="https://www.vectorlogo.zone/logos/typescriptlang/typescriptlang-icon.svg"
                        class="sc-pqitP csZOOw">TypeScript
                </div>
                <div class="item">
                    <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png"
                        class="sc-pqitP csZOOw">Bootstrap
                </div>
                <div class="item">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjNjFkYWZiIi8+CiAgPGcgc3Ryb2tlPSIjNjFkYWZiIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K"
                        class="sc-pqitP csZOOw">React.Js
                </div>
            </div>
        </div>
        <div class="container" data-aos="flip-up" data-aos-delay="300" data-aos-duration="400">
            <h4 class="container-heading">Backend</h4>
            <div class="items" >
                <div class="item">
                    <img src="https://www.vectorlogo.zone/logos/nodejs/nodejs-icon.svg" class="sc-pqitP csZOOw">Node.Js
                </div>
                <div class="item">
                    <img src="https://i.ibb.co/3dssqRk/express-js.png" class="sc-pqitP csZOOw">Express.Js
                </div>
                <div class="item">
                    <img src="https://qph.cf2.quoracdn.net/main-qimg-28cadbd02699c25a88e5c78d73c7babc"
                        class="sc-pqitP csZOOw">Python
                </div>
            </div>
        </div>
        <div class="container" data-aos="flip-up" data-aos-delay="600" data-aos-duration="400">
            <h4 class="container-heading">Others</h4>
            <div class="items">
                <div class="item">
                    <img src="https://avatars.githubusercontent.com/u/18133?s=280&amp;v=4" class="sc-pqitP csZOOw">Git
                </div>
                <div class="item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/512px-Visual_Studio_Code_1.35_icon.svg.png?20210804221519" class="sc-pqitP csZOOw">VSCode
                </div>
                <div class="item">
                    <img src="https://www.vectorlogo.zone/logos/canva/canva-icon.svg" class="sc-pqitP csZOOw">Canva
                </div>
                <div class="item">
                    <img src="https://i.pinimg.com/originals/63/a7/b1/63a7b1894b3210d07e434e9d12170586.png" class="sc-pqitP csZOOw">Figma
                </div>
            </div>
        </div>
    </div>
</section>