:root {
    --color-bg: rgba(9, 10, 10, .986);
    --color-bg-variant: #030618;
    --color-primary: #b76bf5;
    --color-primary-linear: linear-gradient(109.6deg, rgb(157, 75, 199) 11.2%, rgb(119, 81, 204) 83.1%);
    --color-primary-variant: rgba(77, 181, 255, .4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, .6);
    --color-light-blue: #ADD8E6;
    --transition: all .4s ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --transition: all .4s ease;
}

* {
    font-family: "Roboto", sans-seri;
}

/* Themes */

.dark-theme {
    --text-color: var(--color-white);
    --background-color: var(--color-bg);
}
.light-theme {
    --text-color: #000;
    --background-color: var(--color-white);
}


body {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    line-height: 1.7;
}

.btn {
    color: var(--color-white);
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}

h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: var(--color-primary);
	left: 0;
	right: 0;
	bottom: -10px;
}

/* Custom AOS Animations */

/* Typewriter Effect */
[data-aos="typewriter"] {
    opacity: 0;
}

[data-aos="typewriter"].aos-animate {
    opacity: 1;
    animation: typewriter 3s steps(40) 1s 1 normal both;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* FadeIn Effect */

[data-aos="fadeInAnimation"] {
    opacity: 0;
}

[data-aos="fadeInAnimation"].aos-animate {
    opacity: 1;
    animation: fadeInAnimation 2s ease-in;
}

/* bounceSlideInFromLeft Effect */

[data-aos="bounceSlideInFromLeft"] {
    opacity: 0;
}

[data-aos="bounceSlideInFromLeft"].aos-animate {
    opacity: 1;
    animation: bounceSlideInFromLeft 1s ease-out;
}

@keyframes bounceSlideInFromLeft {
    0% {
        transform: translateX(-100%) translateY(0);
        opacity: 0;
    }

    20% {
        transform: translateX(-70%) translateY(-30px);
    }

    40% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    60% {
        transform: translateX(-30%) translateY(-15px);
    }

    80% {
        transform: translateX(-10%) translateY(0);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

/* fadeInSlideFromBottomAnimation Effect */

[data-aos="fadeInSlideFromBottomAnimation"] {
    opacity: 0;
}

[data-aos="fadeInSlideFromBottomAnimation"].aos-animate {
    opacity: 1;
    animation: fadeInSlideFromBottomAnimation 3s ease-out;
}

@keyframes fadeInSlideFromBottomAnimation {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* slideInFromRight Effect */
[data-aos="slideInFromRight"] {
    opacity: 0;
}

[data-aos="slideInFromRight"].aos-animate {
    opacity: 1;
    animation: slideInFromRight 1s ease forwards;

}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* slideInFromLeft Effect  */

[data-aos="slideInFromLeft"] {
    opacity: 0;
}

[data-aos="slideInFromLeft"].aos-animate {
    opacity: 1;
    animation: slideInFromLeft 1s ease forwards;

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Button Blink Effect */

[data-aos="blink"] {
    opacity: 0;
}

[data-aos="blink"].aos-animate {
    opacity: 1;
    animation: blink 1s infinite;

}

@keyframes blink {
    0% {
        border-color: rgb(119, 81, 204);
    }

    50% {
        border-color: var(--color-primary);
        /* Change to your desired border color */
    }

    100% {
        border-color: rgb(119, 81, 204);
    }
}

/* Zoomin Effect */

[data-aos="zoomin"] {
    opacity: 0;
}

[data-aos="zoomin"].aos-animate {
    opacity: 1;
    animation: zoomIn 0.5s ease-in;

}

@keyframes zoomIn {
    from {
        transform: scale(0);
        /* Start from no scale (hidden) */
        opacity: 0;
        /* Start from fully transparent */
    }

    to {
        transform: scale(1);
        /* End with full scale (normal size) */
        opacity: 1;
        /* End with full opacity (fully visible) */
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto-serif, "Helvetica Neue", sans-serif; }